layout {

    focus-ring {
        active-color   "#25e075"
        inactive-color "#1e1e1e"
        urgent-color   "#f28b82"
    }

    border {
        active-color   "#25e075"
        inactive-color "#1e1e1e"
        urgent-color   "#f28b82"
    }


    tab-indicator {
        active-color   "#25e075"
        inactive-color "#094a25"
        urgent-color   "#f28b82"
    }

    insert-hint {
        color "#25e07580"
    }
}

recent-windows {
    highlight {
        active-color "#25e075"
        urgent-color "#f28b82"
    }
}
