// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia"
    spawn-sh-at-startup "$HOME/.config/niri/scripts/noctalia-fullscreen-osd.sh"
