    layout {
        gaps 12 // Material 2 spacing
        center-focused-column "never" // Don’t auto-center focused column

        background-color "transparent" // <- needed for noctalia-shell to set wallpaper

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        focus-ring {
            width 2
        }

        shadow {
            on
            softness 18
            spread 0
            offset x=0 y=4
            color "#00000055"
        }

        struts {}
    }
